// colors

$off-black: #20222b;
$off-white: #ffffff;
$blue: #3c4251;
$light-blue: #464b5e;
$dark-blue: #333745;
$purple: #8357c5;



// BREAKPOINTS
$bp-largest: 75em;     // 1200px / 16
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px


// FONT VARIABLES
$font-primary: Arial, Helvetica, sans-serif;
/* $font-secondary: 'Roboto Condensed';
$font-tertiary-1: Montserrat;
$font-tertiary-2: 'Felt Tip Roman'; */