
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px

    @media only screen and (max-width: $bp-large) {
        font-size: 50%; //1rem=8px, 8px/16px = 0.5*100
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 37.5%; //1rem=6px, 6px/16px = 0.375*100
    }
}

body {
    font-family: $font-primary;
    padding: 0;
}

